.contact {
  padding-top: 80px;
  margin-bottom: 200px;

  border-top: 2.5px solid $red;
}

.contact-links-container {

  @include min($tablet) {
    display: flex;
    justify-content: center;
  }

  margin-top: 60px;

  font-size: 20px;
}

.contact-content {
  display: flex;

  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

  font-size: 18px;
  cursor: pointer;

  transition: 0.4s;

  @include min($tablet) {
    margin-bottom: 0;
  }
}

    .contact-content:hover {
      color: $red;
      opacity: 0.75;
    }

.contact-content p {
  margin-left: 6px;
}
