header {
  @include min($tablet) {
    display: flex;
    justify-content: space-between;
  }

  margin-top: 50px;
  margin-bottom: 80px;
}

.chriscavs {
  margin-bottom: 40px;

  @include min($tablet) {
    margin-bottom: 0;
  }
}

.chris {
  font-size: 36px;
  font-weight: 700;
  color: $blue;

  border-bottom: 3px solid $red;
}

.cavs {
  font-size: 36px;
  font-weight: 700;
  color: $red;
}

nav {
  @include min($tablet) {

    display: flex;
  }
}

.nav-projects {
  margin-right: 30px;
}

.view-resume-button {
  display: inline-block;

  @include min($tablet) {
    display: inline;
  }
}
