header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 80px;
}

.chris {
  font-size: 36px;
  font-weight: 700;
  color: $blue;

  border-bottom: 3px solid $red;
}

.cavs {
  font-size: 36px;
  font-weight: 700;
  color: $red;
}

nav {
  display: flex;
}

.nav-projects {
  margin-right: 30px;
}
