.resume {
  padding-top: 70px;
  margin-bottom: 70px;

  border-top: 2.5px solid $red;
}

.resume-container {
  margin-bottom: 40px;

  @include min($tablet) {
    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-bottom: 30px;
  }
}

.resume-container-left {
  @include min($tablet) {
    width: 40%;
  }
}

.resume-container-right {
  @include min($tablet) {
    width: 60%;
  }
}

.resume-title {
  margin-top: 16px;

  font-size: 18px;
  font-weight: bold;

  @include min($tablet) {
    margin-left: 16px;
    margin-top: 2px;
  }
}

.resume-subtitle {
  margin-top: 6px;

  font-size: 16px;
  font-style: italic;

  @include min($tablet) {
    margin-left: 16px;
    margin-top: 16px;
  }
}

.resume-bullets {
  margin: 10px 0 30px 30px;

  font-size: 18px;

  @include min($tablet) {
    margin-left: 64px;
  }
}
